<form method="" action="">
        <tr>
            <td><label for="">TIm kiem</label></td>
            <td><input type="text" name="t" id=""></td>
        </tr>
        <br>
        <tr>
            <td><label for="">pass</label></td>
            <td><input type="password" name="p" id=""></td>
        </tr>
        <br>
        <tr>
            <td>
                <select name="gender" id="">
                    <option value="male">NAM</option>
                    <option value="female">NU</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><input type="submit" name="s" id="" value="dang ky"></td>
        </tr>
</form>