<div class='mt-4'>
  <h3>Dang khoa hoc</h3>
  <form method="POST" action="/course/store">
    <div class='mb-3'>
     <label for="">name</label>
     <input type="text" placeholder="name"name="name">
     <br>
         <label for="">description</label>
     <input type="text" placeholder="description"name="description">
     <br>
         <label for="">videoid</label>
     <input type="text" placeholder="videoid" name="videoid">
    <button type="submit">Them mussic</button>
  </form>
</div>